<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="myTestBean" class="com.example.spring.beans.MyTestBean"></bean>

<!--    <bean id="testA" class="com.example.spring.beans.TestA" >-->
<!--        <constructor-arg index="0" ref="testB"/>-->
<!--    </bean>-->
<!--    <bean id="testB" class="com.example.spring.beans.TestB" >-->
<!--        <constructor-arg index="0" ref="testC"/>-->
<!--    </bean>-->
<!--    <bean id="testC" class="com.example.spring.beans.TestC" >-->
<!--        <constructor-arg index="0" ref="testA"/>-->
<!--    </bean>-->


    <bean id="myTestBean1" class="com.example.spring.beans.MyTestBean1" >
        <lookup-method name="getUserBean" bean="student"/>
        <replaced-method name="changedMethod" replacer="replacer"/>
        <replaced-method name="changedMethod1" replacer="replacer1"/>
    </bean>

    <bean id="teacher" class="com.example.spring.beans.Teacher" />
    <bean id="student" class="com.example.spring.beans.Student" />
    <bean id="replacer" class="com.example.spring.beans.Replacer" />
    <bean id="replacer1" class="com.example.spring.beans.Replacer1" />


    <bean id="hello" class="com.example.spring.beans.aware.Hello" />
    <bean id="testAware" class="com.example.spring.beans.aware.TestAware" />
</beans>